body {
    background: #23242a;
    margin: 0;
    padding: 0;
    justify-content: center; /*removable*/
    align-items: center; /*removable*/
    /* flex-wrap: wrap;  */
    }

img {
    padding-top: 0%;
    margin-top: 0%;
}

h1 {
    color: white;
    position: relative;
}

.buttonNavDiv {
    padding: 2.75%;
}

.show-nav-home-btn {
    background: rgb(113, 86, 150);
    color: #fff;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5em;
    padding: 0.5em;
    cursor: pointer; 
    height: 30px;
    width: 110px;
    margin-top: -7px;
}


.show-nav-home-btn:hover {
    transform: scale(1.3);
}

div {
    text-align: center;
    padding-top: 100px;
}

header {
    padding-top: 77px;
    text-align: center;
}

nav {
    display: none;
    list-style: none;
    align-items: center;
    /* padding-left: 10%; */
    padding-right: 5%;
    /* justify-content: space-evenly; */
    /*new styles start from here*/
    min-width: 15em;
    position: relative;
    margin: 2em;  
}

nav * { /*removable*/
    box-sizing: content-box;
}

nav ul li {
    list-style: none;
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
    border: none;
    align-items: center;
    align-content: center;
}

nav ul li a {
    color: whitesmoke;
    text-decoration: none;   
}

nav ul li a:hover {
    color: rgb(113, 86, 150);
}

.search-input:focus {
    width: 250px;
    border-color: rgb(113, 86, 150);
}

.search-input:hover {
    width: 300px;
}

.search-input {
    border: none;
    border-bottom: 1px solid #aaa;
    background: transparent;
    outline: none;
    height: 30px;
    color: #fff;
    width: 150px;
   margin-left: 19px;
}

.search-box {
    padding: 0%;
}

/* Styles for caret icon */

.caret {
    width: 0;
    height: 0;
    display: inline-block;
    border: 5px solid transparent;
}
.caret.down{
    border-top-color: whitesmoke;
    margin-bottom: -3.75px;
    margin-left: 3px;
}

.somethings {
    padding: 5px;
}

/* transparent background is:
background: hsl(0 0% 100% / 0.1); 

plus blur is 
backdrop-filter: blur(1em);*/