body {
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 200px 40px;
    background-color: whitesmoke;
}

.right-bar {
    height: 200%;  
}

.content {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-row-start: 1;
    grid-column-end: 2;
    height: 240%;
}

.logo-sec {
    height: 110px;
}

.logo {
    height: 90px;
}

h1 {
    height: 90px;
    padding: 0;
    margin-left: 100px;
    margin-top: -68px;
}

h2 {
    margin-top: -40px;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-left: 600px;
    padding: 0%;
    border: 0%;
    font-weight: 500;
    font-size: 30;
    font-family: 'Permanent Marker', serif;
    color: rgb(106, 0, 255);
}

h4 {
    padding: 0;
    margin: auto;
    margin-bottom: 60px;
    color: rgb(106, 0, 255);
}

.card-container {
    width: 100%;
    height: 450px;
    padding: 20px 0;
    margin-top: 80px;
    background-color: whitesmoke;
}

.card {
    display: flex;
    align-items: center;
    margin-left: 550px;
    margin-bottom: -100px;
    margin-top: -150px;
    gap: 7px;
    min-width: 150px;
    /* beleive it or not, height and width are very important here theare what makes the card look like a card, now you can manipulate to look better though */
    width: 300px;
    height: 200px;
    /* border-radius: 5px; */
    /* margin-right: 10px; */
    /* transition: .5s; */
    background-color: rgb(217, 217, 246);
    
}

.card-body {
    margin: auto;
    size: 100px;
}

.card-container::-webkit-scrollbar {
    display: none;  
}

.show-nav-home-btn {
    background: rgb(113, 86, 150);
    color: #fff;
    border-radius: 0.5em;
    padding: 0.5em;
    cursor: pointer; 
    height: 30px;
    width: 170px;
    margin-top: 30px;
    margin-left: 60px;
}

.show-nav-home-btn:hover {
    transform: scale(1.3);
}

.caret {
    width: 0;
    height: 0;
    display: inline-block;
    border: 5px solid transparent;
}
.caret.down{
    border-top-color: whitesmoke;
    margin-bottom: -3.75px;
    margin-left: 3px;
}


nav {
    /* display: none; */
    list-style: none;
    align-items: center;
    /* padding-left: 10%; */
    padding-right: 5%;
    /* justify-content: space-evenly; */
    /*new styles start from here*/
    min-width: 15em;
    position: relative;
    margin: 2em;  
}

nav * { /*removable*/
    box-sizing: content-box;
}

nav ul li {
    list-style: none;
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
    border: none;
    align-items: center;
    align-content: center;
}

nav ul li a {
    color: rgb(113, 86, 150);
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

nav ul li a:hover {
    color: rgb(106, 0, 255);
}

.nav-list {
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(2em);
    background-color: #bec3d4;
}

.search-input:focus {
    border-color: rgb(113, 86, 150);
}

.search-input {
    border: none;
    border-bottom: 1px solid rgb(113, 86, 150);
    background: transparent;
    outline: none;
    height: 30px;
    color: rgb(113, 86, 150);
    width: 150px;
   margin-left: 0px;
   text-align: center;
}

.search-box {
    padding: 0%;
}

.somethings {
    padding: 5px;
    text-align: center;
    margin-right: 20px;
}

::placeholder {
    color: rgb(106, 0, 255);
    font-size: 12px;
    font-weight: 550;
}

nav {
    display: none;
}

.des{
    width: 200px;
}

.year {
    padding: 0;
    margin-top: -15px;
}

.genre {
    padding: 0;
    margin-top: -14px;
}

.type {
    padding: 0;
    margin-top: -15px;
}

.watch-link {
    display: flex;
    gap: 5px;
    margin-top: -15px;
}

.network-logo {
    height: 40px;
    border-radius: 1em;
    margin: auto;
    margin-left: -45px;
    margin-top: -10px;
}
